<md-tab-group>
    <md-tab label="Frame" *ngFor="let frame of pattern.frames">
        <ng-template md-tab-label>
            <md-icon>assistant</md-icon>
        </ng-template>
        <div>
            <!-- ToDo: vertical slider should be vertical sliders which takes elements as input ... this way i wont need id/value pairs to update the value -->
            <app-vertcial-slider *ngFor="let pos of frame.positions" [editable]="editable" [element]="pos" (valueUpdated)="handleValueUpdated($event)"></app-vertcial-slider>
        </div>
    </md-tab>
</md-tab-group>