div.pat-range {
    width: 2em;
    overflow: hidden;

    h1 {
        font-size: 14px;
        text-align: center;
    }

    input[type=range][orient=vertical]{
        width: inherit;
        background: transparent;
        -webkit-appearance: none;
        -webkit-appearance: slider-vertical; /* WebKit */
        writing-mode: bt-lr; /* IE */
    }

    input[type=range][orient=vertical]::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: black;
    }

    input[type=range][orient=vertical]::-webkit-slider-runnable-track {
        background: #ddd;
        border: none;
        border-radius: 3px;
    }

    input[type=range][orient=vertical]:focus {
        outline: none;
    }

    input[type=range][orient=vertical]:focus::-webkit-slider-runnable-track {
        background: #ccc;
    }
}