<!-- <button md-icon-button [mdMenuTriggerFor]="menu">
  <md-icon>more_vert</md-icon>
</button>
<md-menu #menu="mdMenu">
  <button md-menu-item routerLink="/">
    <md-icon>home</md-icon>
    <span>Dashboard</span>
  </button>
  <button md-menu-item routerLink="/test">
    <md-icon>gesture</md-icon>
    <span>Simulation</span>
  </button>
</md-menu> -->

<nav md-tab-nav-bar>  
  <a md-tab-link routerLink="/" routerLinkActive="active">
    <md-icon>home</md-icon>
    <!-- <span>Home</span> -->
  </a>
  <a md-tab-link routerLink="/test" routerLinkActive="active">
    <md-icon>gesture</md-icon>
    <!-- <span>Pattern</span> -->
  </a>
</nav>

<br/>
<router-outlet></router-outlet>