<div *ngIf="isLoading">
    <md-spinner></md-spinner>
</div>
<div *ngIf="!isLoading">
    <div *ngIf="pattern">
        <button md-button (click)="save($event)">Save</button>
        <button md-button (click)="addFrame($event)">Add Frame</button>
        <md-slide-toggle [(ngModel)]="checked" (change)="slideChange($event)">Live view?</md-slide-toggle>

        <app-frames [(frames)]="pattern.frames"></app-frames>
        <app-frames-preview *ngIf="checked" [frames]="pattern.frames"></app-frames-preview> 
    </div>
    <div *ngIf="!pattern">
        <h3>There's no pattern with this id!</h3>
    </div>
</div>