<button md-icon-button (click)="newPattern()">
  <md-icon mdTooltip="create a new pattern" mdTooltipPosition="right">add</md-icon>
</button>

<md-grid-list cols="1" rowHeight="5em">
  <md-grid-tile *ngFor="let pattern of patterns">
    <div class="tile">
      <span class='left'>
        {{ pattern.name }}
      </span>
      <div class='right'>
        <button md-icon-button (click)="edit(pattern)">
          <md-icon mdTooltip="edit">edit</md-icon>
        </button>
        <button md-icon-button (click)="delete(pattern)">
          <md-icon mdTooltip="delete">delete</md-icon>
        </button>
        <button md-icon-button (click)="play(pattern)">
          <md-icon mdTooltip="play">send</md-icon>
        </button>
      </div>
    </div>
  </md-grid-tile>
</md-grid-list>